<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<AndersonAlves_SocialLinks>
			<version>1.0</version>
		</AndersonAlves_SocialLinks>
	</modules>
	<frontend>
		<routers>
			<AndersonAlves_SocialLinks_Router1>
				<use>standard</use>
				<args>
					<module>AndersonAlves_SocialLinks</module>
					<frontName>andersonalves-sociallinks</frontName>
				</args>
			</AndersonAlves_SocialLinks_Router1>
		</routers>
		<layout>
			<updates>
				<AndersonAlves_SocialLinks>
					<file>sociallinks.xml</file>
				</AndersonAlves_SocialLinks>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<sociallinks>
				<class>AndersonAlves_SocialLinks_Helper</class>
			</sociallinks>
		</helpers>
		<blocks>
			<sociallinks>
				<class>AndersonAlves_SocialLinks_Block</class>
			</sociallinks>
		</blocks>
	</global>
</config>